
@media (max-width: 900px) {
    nav {
      padding: 15px 20px;
      position: relative;
    }
  
    .nav-icon {
      order: 2;
      margin: 0 auto;
    }
  
    .nav-icon span {
      font-size: 22px;
    }
  
    .main-navlinks {
      order: 1;
    }

    h1 {
        font-size: 15px;
       }
   
       p {
           font-size: 12px;
       }

       img {
        width: 75%;
       }
    }

    @media (max-width: 500px) {
        .nav-icon img {
          width: 30px;
        }
        .nav-icon span {
          font-size: 20px;
        }
      }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: white;
}

p{
    color: #454545;
    font-size: 38px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    margin-top: 30px;
}

h1{
    color: #454545;
    font-size: 48px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    margin-top: 180px;
}

.title {
    font-size: 70px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    padding-bottom: 10%;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px ;

}

.box {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}

.box:hover {
    background-color: white;
}

.box .special {
    color: white;
}

.box :hover .speacial {
    font-weight: bold;
}

.container {
    background-color: white;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.boite1 {
    width: 45%;
    height: 400px;
    border: 2px solid white;

}

.boite1 img {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
}

.boite2 {
    width: 45%;
    height: 400px;
    border: 2px solid white;

}

.container2 {
    background-color: white;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
}

.boite3 {
    width: 45%;
    height: 400px;
    border: 2px solid white;
}

.boite4 {
    width: 45%;
    height: 400px;
    border: 2px solid white;
}
    
.boite4 img {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
}


.footer {
        padding-left: 0%;
        background-color:#f4f4f4 ;
        height : 100%;
        width: 100%;     


}
.html body {
    scroll-behavior: smooth;
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
    height: auto;
}


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  background: white;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: white;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  font-family: 'Gruppo', cursive;
}

.nav-icon span {
font-family: 'Gruppo', cursive;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
  font-family: 'Gruppo', cursive;
}
.nav-icon img {
  width: 150px;
  margin-top: 5px;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #454545;
  display: inline-block;
  position: relative;
  font-family: 'Gruppo', cursive;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
  font-family: 'Gruppo', cursive;
}

.sign-btns button:nth-child(2) {
  border: none;
  background: #ffbafaa2;
}
.sign-user {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
    font-family: 'Gruppo', cursive;
  }
  
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0
  }

  .sign-btns {
    display: none;
  }
  .sign-user {
    display: block;
    cursor: pointer;
    border: none;
  }
  .sign-user img {
    width: 20px;
  }

}
